/* This targets the <h1> tag in my HTML file */
h1 {
    text-align: center;
}

/* This targets the <div> element with the id name of "btn1" in my HTML file */
#btn1 {
    text-align: center;
    margin-top: 15px;
}

/* This targets the <div> element with the id name of "btn2" in my HTML file */
#btn2 {
    text-align: center;
    margin-top: 5px;
}

/* This targets the <div> element with the id name of "after_submit1" in my HTML file */
/* I used the visibility property and set it to "hidden" because hidden elements take up space on the page */
#after_submit1 {
    visibility: hidden;
}

/* This targets the <div> element with the id name of "after_submit2" in my HTML file */
/* I used the visibility property and set it to "hidden" because hidden elements take up space on the page */
#after_submit2 {
    visibility: hidden;
}

/* This targets the <div> element with the id name of "after_submit3" in my HTML file */
/* I used the visibility property and set it to "hidden" because hidden elements take up space on the page */
#after_submit3 {
    visibility: hidden;
}